@import "tailwindcss";


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}



::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(23, 23, 23, 0.4);
}
::-webkit-scrollbar-thumb {
  background: rgba(115, 115, 115, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(163, 163, 163, 0.7);
}
