@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  background-color: #0a0a0a; 
  color: #fafafa;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(23, 23, 23, 0.4);
}
::-webkit-scrollbar-thumb {
  background: rgba(115, 115, 115, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(163, 163, 163, 0.7);
}
